@import "../../assets/css/site.css";
@import "../../assets/css/pagegrid.css";

form {
  align-items: center;
  margin: auto;
  width: 100%;
  padding: 0;
  box-shadow: none;
}

textarea {
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;
  outline: 0 !important;
  border: 1px solid var(--primary-border-color);
  font-family: Satoshi;
  font-size: 1.2em;
  letter-spacing: 0.05em;
}

.message {
  border-color: var(--success-color);
}

@media (min-width: 768px) {
  form {
    padding: 0 1rem 1rem 0;
  }
}
