article {
  display: grid;
  width: 100%;
}

aside ul {
  list-style: none;
  margin-bottom: 1rem;
}

aside {
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--primary-border-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.tabs {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  font-size: 0rem;
}
.tabs button {
  font-size: 0.9rem;
}

aside img {
  width: 100px;
  height: 100px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.buttons button {
  max-width: 300px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
h2 {
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  article {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
  .content {
    margin-bottom: 1rem;
  }
  aside {
    border-right: solid 1px var(--primary-border-color);
    margin-bottom: 1rem;
    padding-bottom: 0;
    border-bottom: 0;
    display: block;

    padding-right: 1rem;
    margin-right: 1rem;
    min-width: 12rem;
  }
  aside ul {
    list-style: none;
    margin-bottom: 1rem;
  }

  .tabs {
    display: flex;
    flex-direction: column;
  }
  .tabs button {
    font-size: 1rem;
  }
}
