@import "../../assets/css/site.css";
@import "../../assets/css/jobList.css";
@import "../../assets/css/pagegrid.css";

.name {
  font-weight: 600;
}

.email {
  font-size: 0.8em;
}

#user-info {
  margin-bottom: 1rem;
}
#jobs {
  margin-bottom: 1rem;
}

.job-applicaiton {
  padding: 1rem;
  border-bottom: 1px solid var(--primary-border-color);
  margin-right: 1rem;
}
