@import "../../assets/css/site.css";
@import "../../assets/css/jobList.css";
@import "../../assets/css/pagegrid.css";

.name {
  font-weight: 600;
}

.email {
  font-size: 0.8em;
  margin-bottom: 1rem;
}

#user-info {
  margin-bottom: 1rem;
}
#jobs {
  margin-bottom: 1rem;
}
.applicaitons {
  display: flex;
}

.data-entry {
  padding: 1rem;
  border-bottom: 1px solid var(--primary-border-color);
  margin-right: 1rem;
}

.tab {
  display: none !important;
}

.tab.active {
  display: flex !important;
  flex-direction: column;
}

.tabBtn.active {
  background-color: white;

  color: var(--text-color);
  border-bottom: solid 5px var(--priamary-color);

  border-radius: 0;
  height: 2.5rem;
}
.tabBtn {
  background-color: white;

  color: var(--text-color);
  border: 0;
  border-radius: 0;
  height: 2.5rem;
}
.tabBtn {
  background-color: white;

  color: var(--text-color);
  border: 0;
  border-radius: 0;
  height: 2.5rem;
}

@media (min-width: 768px) {
  .tabBtn.active {
    border-right: solid 5px var(--priamary-color);
    border-bottom: 0;
  }
}
